<!DOCTYPE html>
<html>

<head>
    <title>Upgrade Register</title>
</head>

<body>
    <h1>Register</h1>
    <a href="/>" Start></a>
    <form action="/auth/register" method="POST">
        <label for="name">
            <p>Name: </p>
            <input type="text" name="name">
        </label>

        <label for="email">
            <p>Email: </p>
            <input type="text" name="email">
        </label>

        <label for="password">
            <p>Password: </p>
            <input type="password" name="password">
        </label>

        <input type="submit" value="Register now!">

        {{!-- {{#if error}}
        <p style="color: red;">{{ error }}</p>
        {{ /if }} --}}
    </form>
</body>

</html>