<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="/js/index.js" defer></script>
    <title>{{ title }}</title>
</head>

<body>
    <h1>{{ h1 }}</h1>

    <a href="/VIPlounges">VIP Lounges</a>
    <a href="/auth/register">Register</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/logout">Logout</a>

</body>

</html>